/* style.css */
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif; 
}
h1{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 10px
;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 10px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: purple;
}

  .blue-title{
    color:rgb(35,115,225);
    font-size: 12
  }


